body {
  background: #111111;
  color: #FFFFFF;
  font-family: system-ui, Arial, sans-serif;
  padding: 20px;
}

table {
  width: 100%;
  min-height: 100%
  border: 2px solid white;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}

td, th {
  padding: 12px 15px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
